* {
  box-sizing: border-box; }
  * p, * h1, * h2, * h3, * h4, * h5, * ul, * li {
    margin: 0;
    padding: 0; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #ffdd94; }
  .header .logo-container {
    height: 100%;
    width: 50px;
    padding: 10px; }
  .header .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header .options .option {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #0C090A;
      padding: 0 15px; }

.menu-item {
  min-width: 30%;
  height: 240px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden; }
  .menu-item:hover {
    cursor: pointer; }
    .menu-item:hover .background-item {
      transform: scale(1.1);
      transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    .menu-item:hover .content {
      opacity: .85; }
  .menu-item.large {
    font-weight: 300; }
  .menu-item:first-child {
    margin-right: 7.5px; }
  .menu-item:last-child {
    margin-left: 7.5px; }
  .menu-item .background-item {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  .menu-item .content {
    width: 90px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: .7;
    position: absolute; }
    .menu-item .content .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 1.375rem;
      text-transform: uppercase;
      color: #4a4a4a; }
    .menu-item .content .subtitle {
      font-weight: lighter;
      font-size: 1rem; }

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.collection-item {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 350px;
  align-items: center; }
  .collection-item__image {
    width: 100%;
    height: 95%;
    overflow: hidden; }
    .collection-item__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .collection-item__footer {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem; }
    .collection-item__footer .name {
      width: 90%; }
    .collection-item__footer .price {
      width: 10%; }

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .collection-preview .title {
    font-size: 1.75rem;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .collection-preview .preview {
    display: flex;
    justify-content: space-between; }

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: .5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #0C090A;
  color: #f5f5f5;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }
  .custom-button:hover {
    background-color: #f5f5f5;
    color: #0C090A;
    border: 1px solid #0C090A; }

.sign-in {
  display: flex;
  flex-direction: column;
  height: 30vh; }
  .sign-in .title {
    margin-bottom: 30px; }

.form-input {
  position: relative;
  border-bottom: 2px solid #808080;
  margin-bottom: 40px; }
  .form-input__input {
    font-size: 1.3rem;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none; }
    .form-input__input:focus ~ label, .form-input__input:valid ~ label {
      top: -10px;
      font-size: 1rem;
      color: #ffae00; }
    .form-input__input:focus ~ span::after, .form-input__input:valid ~ span::after {
      width: 100%; }
  .form-input__label {
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 5px;
    color: #808080;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all .5s; }
    .form-input__label.shrink {
      top: -10px;
      font-size: 1rem;
      color: #ffae00; }
  .form-input span::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffae00;
    transition: all .5s; }

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px; }
