@import '../abstracts/variables';

$input-height: 25px;
$form-input-color-primary: $color-primary;
$form-input-color-secondary: $color-secondary;
$form-input-color-main: $default-color-main;
$form-input-color-sub: $default-color-sub;
$form-input-color-white: $default-color-white;
$form-input-font-size: $default-font-size;

@mixin active {
    top: -10px;
    font-size: 1rem;
    color: $color-primary;
}

.form-input {
    $this: &;
    position: relative;
    border-bottom: 2px solid #{$form-input-color-sub};
    margin-bottom: 40px;

    &__input {
        font-size: #{$form-input-font-size};
        width: 100%;
        padding: 0 5px;
        height: #{$input-height};
        border: none;
        background: none;
        outline: none;

        &:focus ~ label {
            @include active();
        }

        &:focus ~ span::after {
            width: 100%;
        }
    }

    &__label {
        pointer-events: none;
        font-size: #{$form-input-font-size};
        position: absolute;
        top: 50%;
        left: 5px;
        color: #{$default-color-sub};
        transform: translateY(-50%);
        transition: all .5s;
        text-transform: capitalize;
    }

    &__underline {
        &:after {
            content: '';
            position: absolute;
            top: #{$input-height};
            left: 0;
            width: 0%;
            height: 2px;
            background-color: #{$form-input-color-primary};
            transition: all .3s;
        }
    }

    &.active {
        #{$this}__underline {
            &:after {
                width: 100%;
            }
        }

        #{$this}__label {
            @include active();
        }

    }
}