@import '../abstracts/variables';

//! header
$header-height: 50px;


.header {
    height: #{$header-height};
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: $color-secondary;

    .logo-container {
        height: 100%;
        width: #{$header-height};
        padding: 10px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            cursor: pointer;
            font-size: $default-font-size;
            text-transform: uppercase;
            color: $default-color-main;
            padding: 0 15px;
        }
    }
}